h1 {
  color: var(--color-primary);
}
p {
  color: var(--color-primary);
}
.btn {
  background-color: var(--color-btn);
  color: #fff;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: var(--color-btn-light);
    color: var(--color-btn);
  }
}
.btn-active {
  background-color: var(--color-btn-light);
  color: var(--color-btn);
}
.btn-2 {
  background-color: var(--color-btn);
  color: #fff;
}
.textfield {
  width: 100%;
}
.input-text {
  color: var(--color-primary);
}
.prescription {
  background-color: var(--color-bg);
}
.text-impo {
  color: var(--color-btn);
}
.head-txt {
  color: var(--color-secondary);
}
.sub-txt {
  color: var(--color-primary);
}
/////////////////////
.modal-window {
  width: 100vw;
  height: 100vh;
}
.light-primary {
  background-color: var(--color-btn-light);
}
/////@at-roo
.header {
  height: 90vh;
  &__gradient {
    background: radial-gradient(
      68.44% 380.13% at 36.25% -3.44%,
      rgba(255, 255, 255, 0.253) 0%,
      rgba(255, 255, 255, 0.255) 93.89%
    );
  }
}
